<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv='cache-control' content="no-cache, no-store, must-revalidate">
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <link type="text/css" rel="stylesheet" href="../../Content/dx.common.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/generic.light-compact.custom.gray.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/custom.css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.globalize/globalize.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.globalize/cultures/globalize.culture.es-PE.js"></script>
    <script type="text/javascript" src="../../Scripts/dx.webappjs.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.isloading.min.js"></script>
    <script type="text/javascript" src="../../Scripts/devextreme-localization/dx.webappjs.es.js"></script>
    <script type="text/javascript" src="../../Scripts/devextreme-modules/dx.module-widgets-base.js"></script>
    <script type="text/javascript" src="../../Scripts/devextreme-modules/dx.module-widgets-web.js"></script>
    <script type="text/javascript" src="atenciones.js"></script>
</head>
<body style="background-color:#55597c;">
    <div id="mainContent" style="visibility:hidden;">
        <div id="tblContent">
            <div>
                <div>
                    <div class="tblColumn">
                        <img src="../../images/Logo.png" />
                    </div>
                    <div class="tblColumn" style="color:white;font-size:15pt;">
                        Control de atenciones
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="tblContent">
                <div class="tblRow">
                    <div class="tblColumn" style="background-color:#d4d3d3">
                        <div id="menu"></div>
                    </div>
                </div>
                <div class="tblRow">
                    <div class="tblContent">
                        <div class="tblRow">
                            <div class="tblColumn" style="width: 25px; text-align: left;">
                                <div id="cmdNew"></div>
                            </div>
                            <div class="tblColumn" style="width: 25px; text-align: left;">
                                <div id="cmdEdit"></div>
                            </div>
                            <div class="tblColumn" style="width: 25px; text-align: left;">
                                <div id="cmdDeactivate"></div>
                            </div>
                            <div class="tblColumn" style="width: 25px; text-align: left;">
                                <div id="cmdActivate"></div>
                            </div>
                            <div class="tblColumn" style="width: 25px; text-align: left;">
                                <div id="cmdRevert"></div>
                            </div>
                            <div class="tblColumn">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tblRow">
                    <div id="gdvAtenciones"></div>
                </div>
            </div>
            <!-- VENTANA PARA AGREGAR ATENCIÓN -->
            <div id="popupAtenciones" hidden="hidden">
                <div class="ContentTable">
                    <div>
                        <div class="ContentLabelIFree">
                            <div>
                                <div class="ContentLabelIFree" style="width: 150px; text-align: right;">
                                    Codigo:
                                </div>
                                <div class="ContentInputI">
                                    <div id="txtCOD_ATEN"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ContentLabelIFree" style="width: 150px; text-align: right;">
                                    Comercio:
                                </div>
                                <div class="ContentInputI">
                                    <div id="txtALF_COME"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ContentLabelIFree" style="width: 150px; text-align: right;">
                                    Tipo atención:
                                </div>
                                <div class="ContentInputI">
                                    <div id="cmbCOD_TIPO"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ContentLabelIFree" style="width: 150px; text-align: right;">
                                    Fecha:
                                </div>
                                <div class="ContentInputI">
                                    <div id="deFEC_ATEN"></div>
                                </div>
                            </div>
                            <div>
                                <div class="ContentLabelIFree" style="width: 150px; text-align: right;">
                                    Comentario:
                                </div>
                                <div class="ContentInputI">
                                    <div id="meALF_COME"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
