<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAtenciones" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25097/Atenciones.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAtenciones" contract="AtencionesWS.IAtenciones"
                name="BasicHttpBinding_IAtenciones" />
        </client>
    </system.serviceModel>
</configuration>