body{
}
.LabelMensaje{
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #F5F5F5;
	color: #000080;
	margin-left: 0px;
	margin-right: 0px;
}
/***************************
** ESTILOS PERSONALIZADOS **
***************************/
.modalBackgroundProcess
{
	background: Gray url(../_Imagenes/loadingRep.gif) no-repeat center center;
	display: none;
	opacity: .75;
	-moz-opacity: 0.75;
	filter: alpha(opacity=50);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.modalBackground2{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index:100001 !important;
}

.modalBackground3{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index:100002 !important;
}

.modalBackground4{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index:100003 !important;
}


.labelForm
{
	font-family: Verdana, Arial,Helvetica, sans-serif;
	font-size: 11px;
	color: #8C6414;
	text-align: left;
}

.textForm
{
	font-family: sans-serif;
	font-size: 11px;
	color: #000000;
	margin-left: 0px;
	margin-right: 0px;
}

.input
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #575757;
	width: 277px;
	margin-left: 0px;
}

.cabeceraLista
{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background: #2D8662;
	color: White;
}

.selectText
{
	border-color: #C4BBB8;
	border-style: groove;
}

.boton
{
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0B4A31;
	background: #D5EFE4;
	width: 100px;
	height: 20px;
	cursor: hand;
	cursor: pointer;
	border: 2px solid #214637;
	vertical-align: middle;
}

.button 
{
	background-image: url("");
	color:black;
	background-color:#d1d3d4 ;
	font-family: verdana;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	vertical-align: middle;
	border: 1px solid;
	width: 110px;
	height: 22px;
}
.btnSmall
{
	color: #214637;
	background: #FBFACD;
	width: 30px;
	height: 25px;
}

.labelMensajeForm
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #BA342A;
	font-weight: bold;
}

.tdTitulo
{
	background: url('../_Imagenes/barra-titulo.gif') no-repeat 0px 0px;
	color: #9D5F28;
	font-family: Verdana, Arial;
	font-size: 12px;
	font-weight: bold;
	height: 8px;
	padding-left: 45px;
}

.tituloPrincipalApp
{
	font-family: Verdana, Arial;
	font-size: 10px;
	font-weight: bold;
	color: black;
	float: left;
	vertical-align: middle;
	padding-left: 2px;
	padding-top: 10px;
}

.tituloAccordion
{
	height: 30px;
	vertical-align: bottom;
	text-align: left;
	padding-top: 12px;
	cursor: pointer;
	width: 600px;
	font-weight: bold;
	color: #090084;
}

.piecera
{
	background-color: #0CAA66;
	height: 10px;
	text-align: center;
	font-family: Verdana,Arial, Helvetica;
	color: White;
	font-size: x-small;
	font-weight: bold;
}

.listaMenu
{
	float: none;
	margin-bottom: 0px;
	margin-left: 0px;
	vertical-align: top;
	font-family: Verdana,Arial, Helvetica;
	font-size: x-small;
	width: 148px;
	text-align: left;
}

.tbContenido
{
	width: 100%;
	height: 131px;
	margin-left: 0px;
}

.tbPrincipal
{
	display: inline-table;
	width: 70%;
	height: auto;
	vertical-align: middle;
}
.cabeceraApp
{
	background-color: rgb(249,178,30);
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	vertical-align: middle;
}

.tituloApp
{
	font-family: Verdana, Arial;
	font-size: 10px;
	font-weight: bold;
	background-color: #808080;
	color: Black;
}

.tituloPrincipalApp
{
	font-family: Verdana, Arial;
	font-size: 10px;
	font-weight: bold;
	color: #214637;
	float: left;
	vertical-align: middle;
	padding-left: 2px;
	padding-top: 10px;
}
.close
{
	height: 12px;
	float: right;
	color: Black;
}

/*****************
** ESTO LO CAMBIASTE
*****************/
.contenidoPopUp
{
	overflow: hidden;
	padding: 0px 0px;
}

.pnlPopup
{
	width: 310px;
	height: auto;
	font-family: Verdana,Arial,Helvetica;
	padding: 0;
	margin: 0px;
	font-size: 12px;
	background-color: #FFF;
	color: #515559;
}
.titulo-mensaje
{
	width: 256px;
	height: 34px;
	padding-top: 0px;
	font-size: 15px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px px;
}

.desc-mensaje
{
	padding: 10px 0px 10px 0px;
}
.ubi-btn
{
	overflow: hidden;
	padding: 0px 88px;
	height: 27px;
}
/*****************
** ESTILOS GRILLA **
*****************/
.gridView
{
	font-size: 10px;
	font-family: Verdana;
	color: Black;
}

.headerGrid
{
	background-color: #003366;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: White;
}

.headerGridEsconder
{
	background-color: #003366;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: White;
	zoom:1%;
}
.rowGrid
{
	background-color: #FBFAE2;
	font-family: Verdana;
	font-size: 10px;
}

.alernatingGrid
{
	background-color: #F8F9F8;
	font-family: Verdana;
	font-size: 10px;
}

.selectedRowGrid
{
	background-color: #BDD4EE;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #0B2543;
}


.pagerGrid
{
	background-color: #003366;
	color: White;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.footGridCount
{
	font-family: Verdana;
	font-size: 10px;
	text-align: right;
	background-color: #808080;
	color: black;	
}

/********
--Acordion
*/
 .tdTitulo {
        background: url('../_Imagenes/barra-titulo.gif') no-repeat 0px 0px ;
        color: #9D5F28;
        font-family: Verdana, Arial;
        font-size: 12px;
        font-weight: bold;
        height: 8px;
        padding-left :45px;
 }

.tituloAccordion{
	    height:30px;
        vertical-align:bottom ;
        text-align:left;
        padding-top:12px;
        cursor:pointer ;
        width:600px;
}

.piecera{
		background-color:#0CAA66;
		height:10px;
		text-align :center;
		font-family :Verdana,Arial, Helvetica ;
		color:White;
		font-size :x-small  ;
		font-weight:bold ;	
}

.labelMensajeValidacion{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #BA342A;
   font-weight:bold;
   color:#FE1A01;
   font-size:x-small ;
}
